button {
    &:hover {
      cursor: pointer;
      box-shadow:none;
    }
    &:active {
      transform: scale(0.95px);
    filter: saturate(150%);
    box-shadow: 0px -1px 8px $secondary-color-g;
  }
  &:focus{
    outline:none;
  }

 }


 .showBtn{
  &:hover {
    cursor: pointer;
    box-shadow:none;
    background:$primary-color;
    color:$secondary-color;
    border: solid 1px $secondary-color;
  }
  &:active{
  box-shadow: 0px -1px 8px $secondary-color-g;
  background-color: $secondary-color-g;
  }
 }


 .footer nav ul li{
  :active{
    box-shadow: 0px -1px 8px  $secondary-color-g;
    background-color: $secondary-color-g;

}
 }


.login{

  * {
  box-sizing: border-box;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: $input-text-mobile;
  color: $text-extra-color;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: $secondary-color;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34,50,84,0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: $secondary-color;
  transform: translateY(-16px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}



}   


 