//The breakpoints
$breakpoints: ( //breakpoints map
	'xsmall': 575px,
	'small'	: 767px, //576px,
	'medium'	: 768px,
	'large'	: 992px,
);

//media breakpoints mixin
//example usage: @include breakpoint(medium){ <your style> }
@mixin breakpoint($break) {
	//get the actual size from the $breakpoints map
	$value: map-get($breakpoints, $break);
	//this sets the point where it swaps from min-width to max-width
	$small: map-get($breakpoints, 'medium'); //change which breakpoint is the min-max limit

	//if the value is smaller than $small, then have it a max-width breakpoint
	@if ($value < $small) {
		@media (max-width: $value) {
			@content;			
		}		
	}
	//else set the breakpoint as min-width
	@else {
		@media (min-width: $value) {
			@content;			
		}		
	}
}
