
//the screen wrapper
.wrapper {  display:grid; }

//give elements a grid-area name,
//These elements need to be direct children of the div.wrapper 
footer.footer { grid-area: 'footer' }
header.header { grid-area: 'header' }
main.page-content, div.page-content, section.page-content { grid-area: 'content'}

//To be sure that no other style can overwrite this, I put this here to appear last because that's what the cascade in CSS means.
@include breakpoint('small'){

  //add this class to items that should be hidden in mobile
  *.hide-mobile { display:none!important;}
}
@include breakpoint('medium'){
  .wrapper {
    grid-template-columns: 120px calc(50% - 60px) calc(50% - 60px);
    height: 100vh;
    section.desktop-layout-container{
      height: 100vh;
    }
    section.hide-mobile {
      border-right: 1px solid $extra-color-light;
      height: 100vh;
    }
  }
  //add this class to items that should be hidden in desktop
  *.hide-desktop { display:none!important;}
}