/* -----------------------------------------------
    Transitions for LOGIN 
----------------------------------------------- */
//Style that is shared between .login-box and .call-to-action
section.login-box, section.call-to-action, section.call-to-action-signup{
  button:hover {
    transform: scale(0.98)!important;
  }
}

/* -----------------------------------------------
    Transitions for VALMYND / FOOTER
----------------------------------------------- */
/* exit = we are showing it */
/* enter = we are hiding it */
div.nav-toggle.show-nav-enter {
  transform: translateY(100%);
}
div.nav-toggle.show-nav-enter-done {
    display: none;
}
div.nav-toggle.show-nav-exit {
  transform: translateY(100%);
}

div.nav-toggle.show-nav-appear, div.nav-toggle.show-nav-appear-active {
    display: none;
}
//HomeNav list items
ul.home-nav li:hover {
  //border:solid 1px $secondary-color;
  background:$primary-color;
  color:$secondary-color;
  transform: scale(1.01); 
  box-shadow:none;
}

ul.footer-nav.hide-nav{
  display:none;
}


@include breakpoint('small'){

.slideBack-enter {
  position: absolute;
  top: 0;
  width: 100%;

  left: -100%;
}

.slideBack-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transition: 200ms linear;

}

.slideBack-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.slideBack-exit-active {
  position: absolute;
  top: 0;
  width: 100%;

  left: 100%;
  transition: 200ms linear;
}



.slideForward-enter {
  position: absolute;
  top: 0;
  width: 100%;

  left: 100%;
}

.slideForward-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transition: 200ms linear;

}

.slideForward-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.slideForward-exit-active {
  position: absolute;
  top: 0;
  width: 100%;

  left: -100%;
  transition: 200ms linear;
}

}

@include breakpoint('medium'){

  .slideForward-enter,
  .slideBack-enter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    z-index: 1;
  }

    .slideForward-enter-active,
    .slideBack-enter-active {
      position: absolute;
    top: 0;
    left: 0;
    right: 0;

    opacity: 1;
    transition: opacity 200ms linear;

  }

  .slideForward-exit,
  .slideBack-exit {
      position: absolute;
    top: 0;
    left: 0;
    right: 0;

    opacity: 1;
  }

  .slideForward-exit-active,
    .slideBack-exit-active {
      position: absolute;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: opacity 200ms linear;

  }

}


.fade-enter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 1;
  transition: opacity 200ms linear;

}

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 1;
}

.fade-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: opacity 200ms linear;

}

