
//Colors
$primary-color: #FDFDFD;
$secondary-color: darken(#FF9E2D,10%);
$extra-color: darken(#E5E5E5, 30%);
$extra-color-light: darken(#E5E5E5, 10%);
//gradient
$secondary-color-g: (#FF9E2D,2%);

$primary-textcolor: #333333;
$secondary-textcolor: #959595;

$primary-text: 'Roboto', sans-serif;

$text-color: #333;
$text-secondary-color: #959595;
$text-extra-color: hsl(0, 0%, 77%);

//Sizes
$title-size-mobile:18px;
$title-size-desktop:22px;

$infoT-size-mobile:14px;
$infoT-size-desktop:18px;

$input-text-mobile:16px;
$input-text-desktop:18px;

$paragraph-mobile:16px;
$paragraph-desktop:18px;

$base-font-size: 16px;