//default button style
button {
  border:none;
  text-align: center;
  font-size: $input-text-mobile;
  font-weight:300;
  border-radius: 5px;
  opacity: 0.95;
}
//-------------------- Button extendable styles
%transparent-button {
  background-color: transparent;
}
//-------------------- Button mixins
@mixin svg-span {
  @extend %transparent-button;
  text-align: left;
  height: auto;
  width: auto;
  span{
    margin-left: 20px;
    font-size: $infoT-size-mobile;
    color: $extra-color;
  }
  svg{
    display: inline-block;
    width: 24px;
    fill: $secondary-color;
    vertical-align: middle;
  }
}

@mixin form-toggle-button {
  button {
    @extend %transparent-button;
    display: inline-block;
    width: 24px;
    height: 24px;
    svg{
    width: 24px;
    fill: $secondary-color;
    }
  }
}
//-------------------- 

/*------------------ Add / Remove buttons */
button.remove-item {
  @extend %transparent-button;
  height: 20px;
  width: 20px;
  position:relative;
  outline: none;
}

button.add-items {
  padding: 18px;
  @include svg-span;
  @include breakpoint(medium){
    padding: 18px 40px;
  }
}

button.add-quick-list {
  padding: 16px 40px;
  @include svg-span;
}

button.add-group {
  padding: 16px 40px;
  @include svg-span;
}

button.add-new-member {
  padding: 16px 0px;
  @include svg-span;
}
/*------------------ Toggle Form Buttons */
.add-group-form {
  display: grid;
  grid-template-columns: auto 60px;
  align-items: center;
  @include form-toggle-button;
  button:focus{
    outline: none;
    svg {
      margin: 16px 2px;
      height: 24px;
      width: 24px;
    }
  }
  input[type=text]{
    margin: 16px 0px 16px 40px;
    border:none;
    height: 32px;
    padding: 4px;
    color:$primary-textcolor;
    font-size: $input-text-mobile;
    &::placeholder{
      color: $extra-color;
      font-size: $input-text-mobile;
    }
    &:focus{
      outline: none;
      &::placeholder{
        color: $extra-color-light;
      }
    }
  }
}

a.showBtn {
  margin: 0px 32px;
  padding: 10px;
  display: block;
  background-color: #f98600;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: #FDFDFD;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  //position: absolute;
  //bottom: 40px;
  width: calc(100% - 64px);
}

button.showBtn{
  margin: 0 auto;
  padding: 8px;
  display: block;
  background-color: $secondary-color;
  border:none;
  text-decoration: none;
  text-align: center;
  font-size: $input-text-mobile;
  font-weight:300;
  color: $primary-color;
  width: 308px;
  height: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  //transition: all .2s ease-in-out;
  &:hover {
    border:solid 1px $secondary-color;
    background:$primary-color;
    color:$secondary-color;
    box-shadow: none;
  }
}

/*------------------ Footer buttons */
footer button {
  @extend %transparent-button;
}