/* -----------------------------------------
    FOOTER
------------------------------------------*/

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    }


footer nav div.nav-toggle{
  height:100vh;
  transition: transform 400ms ease-in-out;
  }

footer nav {
  background: $primary-color;
  width:100%;
  ul.footer-nav {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    position:fixed;
    background: $primary-color;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.16);
    bottom:0;
    left:0;
    height:56px;
    width:100%;
    list-style:none;
    li {
      display:flex;
      justify-content:center;
      align-items:center;
      svg {
        width: 32px;
        height: 32px;
        fill: $secondary-color;
      }
    }
  }
} 
