/* -----------------------------------------
    HEADER
--------------------------------------------*/
header{
  position:relative; 
  nav {
    position:fixed;
    bottom:0;
    width:100%;
    ul {
      height:56px;
      display:grid;
      list-style:none;
      grid-template-columns: 1fr 1fr 1fr;
      li {
        display:flex;
        justify-content:center;
        align-items:center;
      }
    }
  }
}


.header-action{
  background:transparent;
  position: absolute;
  right: 40px;
  top: 40px;
  svg{
    height: 24px;
    width: 24px;
    fill: $secondary-color;
  }
}

header h1.title, h2.title, h3.title{
  margin: 0px 40px;
  padding-top: 40px;
  font-weight: 500;
  color: $primary-textcolor;
  font-size: $title-size-mobile;
}

header h4.subtitle, span.subtitle, button.header-settings{
  display:flex;
  margin: 8px 40px;
  background:transparent;
  @extend %small-title;
  svg {
    width:16px;
  }
}

button.header-settings{
  margin: 8px 40px 24px 40px;
  background:transparent;
  @extend %small-title;
  svg {
    width:14px;
    vertical-align: middle;
    margin: 0px 8px;
  }
}

h4.subtitle, {
  font-weight: normal;
  color: $secondary-textcolor;
  font-size: $infoT-size-mobile;
}

%small-title{
  font-weight: normal;
  color: $secondary-textcolor;
  font-size: $infoT-size-mobile;
}

p.small-title{
  @extend %small-title;
}

p.small-title-side{
  padding-left: 40px;
  @extend %small-title;
}

p.small-title-top{
  @extend %small-title;
  margin-top: 48px;
}

p.small-title-spacearound{
  @extend %small-title;
  padding-left: 40px;
  margin-top: 48px;
}