$checkboxChecked: '../lib/images/icons/checkbox_checked.svg';
$checkbox: '../lib/images/icons/checkbox.svg';


div.check{
  //create the :before element for checkbox image
  &:before{
    content: '';
    display: block;
    background-image: url($checkbox);
    width: 20px;
    height: 20px;
  }
}


li.item-row {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 20px;
  padding: 20px;
  border-bottom: 1px solid $extra-color-light;
  input[type=checkbox]:checked {
    & ~ label {
    text-decoration:line-through;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked +  div.check:before{
      //style check:before if the input is checked
      background-image: url($checkboxChecked);
    }
  }
  &:last-of-type{
    border-bottom: none;
  }
  @include breakpoint(medium){
    padding: 24px 40px;
  }
}

li.item-row-quicklist{
  display: grid;
  grid-template-columns: 1fr 1fr 24px;
  padding: 16px 40px;
  border-bottom: 1px solid $extra-color-light;
  button.remove-item{
    svg {
      width: 24px;
      height: 24px;
      fill: $secondary-color;
      vertical-align: middle;
    }
  }
  &:last-of-type{
    border-bottom: none;
  }
}