/* -----------------------------------------
    Footer HomeNav
--------------------------------------------*/

//Valmynd navigation
ul.home-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 80px 24px 32px;
  //choices for the user
  li {
    margin: 8px;
    text-align: center;
    background: $primary-color;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 8px;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &:hover {
      a {
        color: $extra-color;
      }
    }
  }
  a {    
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 8px;
    svg {
      margin: 8px;
      width: 32px;
      fill: $secondary-color;
    }
  }
}

/* exit = we are showing it */
/* enter = we are hiding it */
div.nav-toggle.show-nav-enter {
  transform: translateY(100%);
}
div.nav-toggle.show-nav-enter-done {
    display: none;
}
div.nav-toggle.show-nav-exit {
  transform: translateY(100%);
}

div.nav-toggle.show-nav-appear, div.nav-toggle.show-nav-appear-active {
    display: none;
}

/* -----------------------------------------
    DesktopNav
--------------------------------------------*/

ul.desktop-nav {
  box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.16);
  padding: 16px 0px 0px;
  position: fixed;
  height:100vh;
  top:0;
  left:0;
  li {
    list-style: none;
    a {
      display:inline-block;
      padding: 24px 38px;
      span {
        display:none;
      }
      svg {
        height: 44px;
        width: 44px;
        fill: $secondary-color;
      }
    }
  }
}