
ul.groups-list{
  width:100%;
  margin-top: 32px;
  li {
    list-style-type: none;
    border-bottom: 1px solid $text-extra-color;
    width:100%;
    align-items: center;
    &:last-of-type{
      border-bottom: none;
    }
    a{  
      display:grid;
      grid-template-columns: auto 60px;
      text-decoration: none; 
    }
    span.title{
      margin-left:24px;
      width: auto;
      //height: 32px;
      margin-top:8px;
      font-size: $paragraph-mobile;
      color:$primary-textcolor;
    }
    svg{
      fill:$secondary-color;
      height:32px;
    }
  }
  //List item with members
  li.show-members{
    div{
      display:grid;
      grid-template-rows: 1fr 1fr;
      padding: 16px;
    }
    span.title{
      margin: 8px 0px 4px 24px ;
    }
    span.subtext{
      margin-left: 24px;
      margin-top: 8px;
      font-size:$infoT-size-mobile;
      color:$text-color;
    }
    svg{
    margin: 32px 0px;
    }
  }
  //List item without members
  li.no-members{
    a{  
      padding: 20px 0px 20px 40px; 
    }
    span.title{
      margin-left: 0px;
    }
  }
}
