/* -----------------------------------------
    GROUPS / INNKAUPALISTAR
--------------------------------------------*/
div.wrapper.groups main{
  padding-bottom: 62px;
}
ul.items-list {
  width:100%;
  display:flex;
  flex-direction:column;
  li {
    width: 100%;
  }
}

.new-group{
  margin-top:32px;
  display:grid;
  grid-template-columns: 1fr 1fr;  
  margin-bottom:32px;
  align-items: center;
 svg{
  width:16px;
  height:16px;
  fill:$secondary-color;
  margin-left:32px;
 }
 h2{
   color:$primary-textcolor;
   font-size:$infoT-size-mobile;
   font-weight:400;
   width: auto;
   margin-left:-142px;

 }
}