@include breakpoint(small){
  div.wrapper.group-settings {
    grid-template-areas: 
    "header header"
    "none none"
    "footer footer";
  }
}
.group-settings{
  padding: 0px 40px;
  section.eyda{
    display: flex;
    flex-direction:column;
    button{
      margin: 16px 0px 0px;
      background-color: $secondary-color;
      color: $primary-color;
      height: 32px;
      width:100%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    }
  }
}

li.group-settings-members-list{
  padding: 16px 0px 8px;
  display: grid;
  grid-template-columns: 1fr 40px;
  &:first-child {
    padding-top: 24px;
  }
  button {
    @extend %transparent-button;
    svg{
      height: 24px;
      width: 24px;
    }
  }
}

form.add-new-member{
  padding: 24px 0px;
  display: grid;
  grid-template-columns: 1fr 40px;
  div{
    padding: 16px 24px 16px 0px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    input[type=text]{
      border:none;
      height: 32px;
      padding: 4px;
      border-bottom: 1px solid $text-secondary-color;
      color:$text-secondary-color;
      &::placeholder{
        color: $extra-color;
        font-size: $input-text-mobile;
      }
      &:focus{
        outline: none;
        &::placeholder{
          color: $extra-color-light;
        }
      }
    }
    select{
      height: 32px;
      color: $extra-color;
      font-size: $input-text-mobile;
      &:focus{
        outline: none;
      }
    }
  }
  button{
    @extend %transparent-button;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0px 8px;
    align-self: center;
    svg{
      width: 24px;
      fill: $secondary-color;
    }
  }
}