/* -----------------------------------------
    LOGIN
--------------------------------------------*/

div.loaderblock {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  z-index: 200;
}

.sign-in,
.sign-up{
  height: 100vh;
  @include breakpoint(medium){
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.sign-up{
  section.white-box{
    height: 52%;
    padding: 40px 64px;
    @include breakpoint(medium){
      height: 100%;
      position: relative;
      padding: 200px 100px 100px 100px;
    }
    svg.logo{
      display: none;
    }
    div.login-form-container{
      @include breakpoint(medium){
        position: absolute;
        bottom: 100px;
        width: calc(100% - 200px);
      }
      form.login{
        padding: 16px 0px 0px;
        input{
          height: auto;
          width: 100%;
          display:block;
          border: none;
          border-bottom: 1px solid $extra-color-light;
          color: $text-secondary-color;
          padding: 24px 4px 8px;
          &::placeholder{
            font-size: $input-text-mobile;
            color:$text-extra-color;
          }
          @include breakpoint(medium){
            padding: 32px 4px 8px;
          }
        }
        button{
          margin-top: 24px;
          background: $secondary-color;
          color:$primary-color;
          width: 100%;
          height: 32px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          &:hover {
            box-shadow:none;
          }
          @include breakpoint(medium){
            margin-top: 40px;
          }
        }
      }
      span{
        display: block;
        width: 100%;
        color: $extra-color-light;
        text-align: center;
        font-size: $infoT-size-mobile;
      }
      button{
        margin-top: 8px;
        background: $secondary-color;
        color:$primary-color;
        width: 100%;
        height: 32px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        &:hover {
          box-shadow:none;
        }
      }
    }
  }
  section.call-to-action-signup{
    height: 48%;
    background: $secondary-color;
    border: 2px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 6px 0px   transparentize($secondary-color, 0.5);
    padding: 40px 64px;
    @include breakpoint(medium){
      height: 100%;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 0px;
      box-shadow: 8px 1px 0px   transparentize($secondary-color, 0.5);
      padding: 200px 100px 100px 100px;
      position: relative;
    }
    svg.logo{
      display: block;
      width:90px;
      height:34px;
      margin: 0 auto;
      fill: $primary-color;
      @include breakpoint(medium){
        width: 160px;
        height: 60px;
        margin: 0px;
      }
    }
    div.flavorText-desktop{
      display: none;
      @include breakpoint(medium){
        display: block;
        color:$primary-color;
        padding: 24px 0px 0px;
        height: 88%;
        div.flavorText {
          h3{
            padding: 14px 0px 0px;
          }
          p{
            padding: 8px 0px 16px 0px;
            line-height: 32px;
            font-size: $infoT-size-mobile;
            width: 200px;
          }
        }
        button{
          position: absolute;
          bottom: 100px;
          background: $primary-color;
          color:$secondary-color;
          height: 32px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          width: calc(100% - 200px);
          height: 32px;
          &:hover {
            box-shadow:none;
          }
        }
      }
    }
    div.flavorText-mobile{
      color:$primary-color;
      padding: 24px 0px 0px;
      @include breakpoint(medium){
        display: none;
      }
      div.flavorText {
        h3{
          padding: 14px 0px 0px;
        }
        p{
          padding: 8px 0px 16px 0px;
          line-height: 32px;
          font-size: $infoT-size-mobile;
        }
      }
      button{
        margin-top: 8px;
        background: $primary-color;
        color:$secondary-color;
        width: 100%;
        height: 32px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        &:hover {
          box-shadow:none;
        }
      }
    }
  }
}

.sign-in{
  section.white-box{
    height: 65%;
    padding: 40px 64px;
    @include breakpoint(medium){
      height: 100%;
      padding: 200px 100px 100px 100px;
    }
    svg.logo{
      display: block;
      width:90px;
      height:34px;
      margin: 0 auto;
      fill: $secondary-color;
      @include breakpoint(medium){
        display: none;
      }
    }
    div.login-form-container{
      @include breakpoint(medium){
        position: absolute;
        bottom: 100px;
        width: calc(50% - 200px);
      }
      form.login{
        padding: 40px 0px;
        input{
          height: auto;
          width: 100%;
          /*display:block;*/
          border: none;
          border-bottom: 1px solid $extra-color-light;
          color: $text-secondary-color;
          padding: 24px 4px 8px;
          &::placeholder{
            font-size: $input-text-mobile;
            color:$text-extra-color;
          }
          @include breakpoint(medium){
            padding: 32px 4px 8px;
          }
        }
        button{
          margin-top: 24px;
          background: $secondary-color;
          color:$primary-color;
          width: 100%;
          height: 32px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          &:hover {
            box-shadow:none;
          }
          @include breakpoint(medium){
            margin-top: 40px;
          }
        }
      }
     .eda{
        display: block;
        width: 100%;
        color: $extra-color-light;
        text-align: center;
        font-size: $infoT-size-mobile;
      }
      button{
        margin-top: 8px;
        background: $secondary-color;
        color:$primary-color;
        width: 100%;
        height: 32px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        &:hover {
          box-shadow:none;
        }
        @include breakpoint(medium){
          margin-top: 16px;
        }
      }
    }
  }
  section.call-to-action-signin{
    height: 35%;
    background: $secondary-color;
    border: 2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 40px 64px;
    box-shadow: 1px -6px 0px   transparentize($secondary-color, 0.5);
    @include breakpoint(medium){
      height: 100%;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 0px;
      box-shadow: -8px 1px 0px   transparentize($secondary-color, 0.5);
      padding: 200px 100px 100px;
      position: relative;
    }
    svg.logo{
      display: none;
      @include breakpoint(medium){
        display: block;
        fill: $primary-color;
        width: 160px;
        height: 60px;
        margin-left: calc(100% - 160px);
      }
    }
    div.flavorText-desktop{
      display: none;
      @include breakpoint(medium){
        display: block;
        color:$primary-color;
        padding: 24px 0px 0px;
        height: 88%;
        div.flavorText {
          h3{
            padding: 14px 0px 0px;
            text-align: right;
          }
          p{
            padding: 8px 0px 16px 0px;
            line-height: 24px;
            font-size: $infoT-size-mobile;
            text-align: right;
            width: 200px;
            margin-left: calc(100% - 200px);
          }
        }
        button{
          position: absolute;
          bottom: 100px;
          background: $primary-color;
          color:$secondary-color;
          width: calc(100% - 200px);
          height: 32px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          &:hover {
            box-shadow:none;
          }
        }
      }
    }
    div.flavorText-mobile{
      color:$primary-color;
      @include breakpoint(medium){
        display: none;
      }
      p{
        padding: 8px 0px 16px 0px;
        line-height: 32px;
        font-size: $infoT-size-mobile;
      }
      button{
        margin-top: 8px;
        background: $primary-color;
        color:$secondary-color;
        width: 100%;
        height: 32px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        &:hover {
          box-shadow:none;
        }
      }
    }
  }
}


/*
//Style that is shared between .login-box and .call-to-action
section.login-box, section.call-to-action, section.call-to-action-signup{
  svg.logo{
    display: block;
    width:90px;
    height:34px;
    margin: 0px 62.5px;
  }
  button{
    margin: 16px 0px;
    background: $secondary-color;
    color:$primary-color;
    width: 215px;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    @include breakpoint(medium){
      width: 520px;
    }
    &:hover {
      box-shadow:none;
    }
  }
  h3{
    color:$primary-color;
    font-size:$title-size-desktop;
  }
  p{
    color:$text-secondary-color;
    font-size:$input-text-mobile;
  }
  input{
    margin: 24px 0px 8px;
    height:32px;
    display:block;
    border: none;
    border-bottom: 1px solid $text-secondary-color;
    color:$text-secondary-color;
    width:215px;
    padding: 0px 4px 4px;
    @include breakpoint(medium){
      width: 520px;
    }
    &::placeholder{
      font-size: $input-text-mobile;
      color:$text-extra-color;
    }
  }
  .login-flavor-text,
  .login-flavor-text-desktop{
    p{
      padding: 16px 0px;
      color:$primary-color;
      width: 215px;
      font-weight: lighter;
      line-height: 24px;
      @include breakpoint(medium){
        width: 520px;
      }
    }
    button {
      background: $primary-color;
    }
  }
}

//style that is unique to the .login-box
section.login-box{
  position: relative;
  padding: 40px 80px 0px;
  color:$secondary-color;
  height: 75%;
  @include breakpoint(medium){
    height: 100vh;
    padding: 120px 100px;
    div.login-form-container{
      position: absolute;
      bottom: 120px;
    }
  }
  button{
    @include breakpoint(medium){
      margin: 32px 0px 0px;
    }
  }
  svg.logo{
    @include breakpoint(medium){
      display: none;
    }
    fill: $secondary-color;
  }
  form.login {
    padding-top: 16px;
  }
  div.login-sec2{
    button{
      @include breakpoint(medium){
        margin-bottom: 0px;
      }
    }
    span{
      display: block;
      width: 215px;
      text-align: center;
      margin: 8px 0px;
      @include breakpoint(medium){
        width: 520px;
        margin-top: 32px;
        margin-bottom: 0px;
      }
    }
  }
  form.sign-upform{
    position: absolute;
    bottom: 16px;
    @include breakpoint(medium){
      bottom: 120px;
    }
    div.input-container{
      padding: 16px 0px;
    }
  }
}

//style that is unique to the .call-to-action
section.call-to-action{
  @include breakpoint(medium){
    box-shadow: -10px 0px 1px transparentize($secondary-color, 0.5);
    border-top-right-radius: 0px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    height: 100vh;
    padding: 120px 100px;
    button {
      margin: 0px;
    }
  }
  position: relative;
  color:$primary-color;
  width: 100%;
  height: 45%;
  background: $secondary-color;
  border: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 40px 80px 0px;
  box-shadow: 1px -6px 0px   transparentize($secondary-color, 0.5);
  div.login-flavor-text{
    position: absolute;
    bottom: 40px;
    @include breakpoint(medium){
      display: none;
    }
  }
  svg.logo{
    display: none;
    @include breakpoint(medium){
      display: block;
      width: 160px;
      height: 60px;
      margin: 0px;
      position: absolute;
      right: 100px;
      top: 200px;
      fill: $primary-color;
    }
  }
  button {
    color: $secondary-color;
     &:hover {
      box-shadow:none;
    } 
  }
  div.login-flavor-text-desktop{
    display: none;
    @include breakpoint(medium){
      display: block;
      div{
        top: 320px;
        color: $primary-color;
        text-align: right;
        width: 200px;
        position: absolute;
        right: 100px;
        p{
          width: 200px;
          padding: 24px 0px;
          line-height: 32px;
        }
      }
      button{
        bottom: 120px;
        position: absolute;
        color: $secondary-color;
        &:hover {
          box-shadow:none;
        } 
      }
    }
  }
}

//style that is unique to the .call-to-action-signup
section.call-to-action-signup{
  @include breakpoint(medium){
    box-shadow: 10px 0px 1px transparentize($secondary-color, 0.5);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 0px;
    height: 100vh;
    padding: 120px 100px;
  }
  color:$primary-color;
  width: 100%;
  height: 55%;
  background: $secondary-color;
  border: 2px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 40px 80px 0px;
  box-shadow: 0px 6px 1px   transparentize($secondary-color, 0.5);
  div.login-flavor-text {
    padding: 40px 0px 0px;
    @include breakpoint(medium){
      display: none;
    }
    button {
      color: $secondary-color;
    }
  }
  svg.logo{
    fill: $primary-color;
    @include breakpoint(medium){
      width: 160px;
      height: 60px;
      margin: 0px;
      position: absolute;
      top: 200px;
    }
  }
  div.login-flavor-text-desktop{
    display: none;
    @include breakpoint(medium){
      display: block;
      div{
        position: absolute;
        top: 320px;
        color: $primary-color;
        width: 200px;
        p{
          width: 200px;
          padding: 24px 0px;
          line-height: 32px;
        }
      }
      button{
        bottom: 120px;
        position: absolute;
        color: $secondary-color;
        margin: 0px;
        &:hover {
          box-shadow:none;
        } 
      }
    }
  }
}


div.sign-up section.login-box{
  height: 60%;
  @include breakpoint(medium){
    height: 100vh;
  }
}

*/

// .fade-appear{
//   opacity:0;
//   z-index:1;
// }

// .fade-appear.fade-ppear-acctive{
//   opacity:1;
//   transition: opacity 300ms linear;
// }

// .fade-enter{
//   pðacity:0;
//   z-index:1;
// }

// .fade-enter.fade-enter-active{
//   opacity:1;
//   transition:opacity 300ms linear;
// }
// .fade-exit{

// }