

ul.quicklists-main-container{
    padding: 24px 0px;
    li.quicklists-container{
        padding: 24px 40px;
        border-bottom: 1px solid $extra-color-light;
        .quicklist{
            display: grid;
            grid-template-columns: auto 16px;
            text-decoration: none;
            color: $primary-textcolor;
            svg{
                fill:$secondary-color;
                height:24px;
            }
        }
        &:last-of-type{
            border-bottom: none;
        }
    }
}
