ul li.accounting-container{
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 1fr 1fr;
    height: 80px;
    width: 375px;
    padding: 16px 40px;
    border-bottom: 1px solid $extra-color-light;
    span.item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: $input-text-mobile;
        padding-bottom: 8px;
    }
    span.item2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: span 2;
        font-size: $infoT-size-mobile;
    }
    span.item3{
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: $input-text-mobile;
        padding-bottom: 8px;
        text-align: right;
    }
    span.item4{
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 2;
        font-size: $infoT-size-mobile;
        text-align: right;
    }
    &:last-of-type{
        border-bottom: none;
      }
}