div.wrapper{
  @include breakpoint(medium){
    section.hide-mobile {
      border-right: 1px solid $extra-color-light;
      height: 100vh;
    }
    section.desktop-layout-container,
    div.desktop-layout-container {
      padding: 0px 10%;
      height: 100vh;
    }
  }
}

form.add-items-form{
  //padding-left: 20px;
  padding: 20px;
  border-top: 1px solid $extra-color;
  display: grid;
  grid-template-columns:  40px 1fr 1fr 24px;
  @include form-toggle-button;
  button{
    &:focus{
      outline: none;
    }
  }
  input[type=text]{
    font-size: $input-text-mobile;
    border:none;
    height: 24px;
    width: 100%;
    padding: 4px;
    &::placeholder{
      color: $extra-color;
      font-size: $input-text-mobile;
    }
    &:focus{
      outline: none;
      &::placeholder{
        color: $extra-color-light;
      }
    }
  }
  input[name=title]{
    //since this is the first item in grid, rest will follow
    grid-column-start: 2; //start in the 2nd column
  }
}

form.quicklist{
  @include breakpoint(medium){
    padding: 16px 40px;
  }
  grid-template-columns: 40px 1fr 1fr 20px;
  padding: 20px;
}


ul.big-members-container{
  padding: 0px 32px;
  li.membersContainer{
      height: 40px;
      width: auto;
      display: inline-block;
      margin: 0px 8px 24px 8px;
      span.membersCircle {
          display:inline-block;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          background: $extra-color-light;
          //color: $primary-color;
          text-align: center;
          line-height:36px;
          font-size: $infoT-size-mobile;
      }
  }
}