.wrapper.single-quicklist {
  @include breakpoint(medium){
    section.hide-mobile {
      border-right: 1px solid $extra-color-light;
    }
  }
  section.quicklist-add-container{
    height: calc(100vh - 56px);
    overflow-y: scroll;
    div div {
      margin: 0px 0px 40px;
      button.add-items{
        padding: 16px 40px 24px;
      }
    }
    @include breakpoint(medium){
      padding: 0px 10%;
    }
  }
  button.delete-list{
    margin: 8px 40px 24px;
    background-color: $secondary-color;
    color: $primary-color;
    height: 32px;
    width: calc(100% - 80px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  }
}



div.quickList-add-container{
  h4 {
    padding: 0px 40px;
  }
  ul.quickList-add-group{
    list-style: none;
    
    li {
      padding: 16px 40px;
      border-bottom: 1px solid $extra-color-light;
      display: grid;
      grid-template-columns: auto 24px;
      svg {
        fill:$secondary-color;
        height:24px;
        vertical-align: middle;
      }
      &:first-child {
        padding-top: 8px;
      }
      &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
      }
    }
  }
  div{
    ul.quick-list-add{
      padding: 8px 40px 32px 40px;
      li{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4px 0px;
      }
    }
  }
}