section.desktop-layout-stores {
    @include breakpoint(medium){
        padding: 0px 10%;
    }
}

div.StoreList-container{
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 16px 40px;
    border-bottom: 1px solid $extra-color-light;
    div.title{
        display: grid;
        grid-template-columns: 1fr 1fr;
        span.title{
            color: $primary-textcolor;
            font-size: $title-size-mobile;
            padding: 6px 0px;
        }
        span.sidetitle{
            padding: 10px 0px;
            font-weight: normal;
            color: $secondary-textcolor;
            font-size: $infoT-size-mobile;
        }
    }
    svg{
        fill:$secondary-color;
        height:32px;
    }
    &:last-of-type{
        border-bottom: none;
    }
}