div.usersettings-container-buttons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 24px 40px;
    button{
        margin: 16px 0px 0px;
        background-color: $secondary-color;
        color: $primary-color;
        height: 32px;
        width:100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
      }
}
div.language-settings-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 24px 40px;
    span.subtitle{
        padding: 8px 0px;
        font-weight: normal;
        color: $secondary-textcolor;
        font-size: $infoT-size-mobile;
    }
    button{
        margin: 8px 0px 0px;
        background-color: transparent;
        text-align: left;
        font-weight: normal;
    }
}
div.upper-container{
    padding-top: 32px;
}

div.usersettings-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0px 40px;
    span.subtitle{
        padding: 8px 0px;
        @extend %small-title;
    }
    svg{
        fill:$secondary-color;
        height:24px;
        width:24px;
        justify-content: center;
    }
}

div.usersettings-container-main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 24px 40px;
    span.subtitle{
        padding: 8px 0px;
        font-weight: normal;
        color: $secondary-textcolor;
        font-size: $infoT-size-mobile;
    }
    svg{
        fill:$secondary-color;
        height:24px;
        width:24px;
        justify-content: center;
    }
}
