@import 'partials/variables';
@import 'partials/functions';
@import 'partials/breakpoints';

//style reset
* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box;
}

html { font-size:  $base-font-size} //this creates the base font size, 1rem

#root {
  background:$primary-color;
  font-family: $primary-text; 
  height:100vh; 
  width:100vw;
} ;

//---------------------------------------------------
//  Remember to import your partials here
//  or they won't appear on the compiled stylesheet
//---------------------------------------------------

//Components
@import 'partials/icons'; 
@import 'partials/components/buttons';
@import 'partials/components/header';
@import 'partials/components/footer';
@import 'partials/components/itemsList';
@import 'partials/components/navigation'; //HomeNav and DesktopNav
@import 'partials/components/main';
@import 'partials/components/showLists';
//Screens
@import 'partials/screens/groups';
@import 'partials/screens/login'; //SignIn and SignUp
@import 'partials/screens/singleAccounting';
@import 'partials/screens/quickLists';
@import 'partials/screens/userSettings';
@import 'partials/screens/singleGroup';
@import 'partials/screens/singleQuicklist';
@import 'partials/screens/groupSettings';
@import 'partials/screens/savings';
@import 'partials/screens/stores';

//Animations and transitions
@import 'partials/transitions';
@import 'partials/animations';

@import 'partials/grids';